<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/inlogpagina.css">

</head>
<body>
  
<%- include("partials/header") %>
<section class="inledingEnBox">


    <section class="inleiding">
<h1>Budgetbuddy</h1>
<p>Welkom bij BudgetBuddy, jouw persoonlijke assistent voor het eenvoudig beheren van uitgaven en budgetten. Voeg uitgaven toe, houd je financiën in de gaten, en blijf altijd binnen je budget met gemak. Begin vandaag nog met slim besparen!</p>

    </section>
    <section class="box">

  
    <h1>Inloggen</h1>
    <form action="/login" method="POST">

            <label for="username">Gebruikersnaam:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Wachtwoord:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Inloggen</button>
     
         <p>Geen account? <a href="/register">Registreer hier</a></p>
    </form>
</section>

</section>
<%- include("partials/footer") %>
</body>
</html>